<p>films works!</p>
<!-- <app-toolbar></app-toolbar>
<app-movies-grid></app-movies-grid> -->


<div id="bd-button">
    <button mat-raised-button id="importer-films" (click)="this.getMovies()" class='left-item' mat-button >Importer les films</button>
</div>
<!-- <ul>
    <li *ngFor="let mo of movies;">
        {{mo}}
    </li>
</ul> -->

<!-- <mat-grid-list id = movies *ngFor="let movie of movies;"> -->
    <mat-grid-list>
        <mat-grid-tile [colspan] = "5" [rowspan] = "1" class='tile'>
            <div class='tile-content'>
                lol
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    
<!-- </mat-grid-list> -->

    <!-- <mat-grid-tile [colspan] = "5" [rowspan] = "1" class='tile'>
        <div class='tile-content'>
            {{movie.genre}}
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan] = "5" [rowspan] = "1" class='tile'>
        <div class='tile-content'>
            {{movie.dureeTotalMinutes}}
        </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan] = "5" [rowspan] = "1" class='tile'>
        <div class='tile-content'>
            {{movie.dateProduction}}
        </div>
    </mat-grid-tile> -->
    <!-- <mat-grid-tile [colspan] = "5" [rowspan] = "1" class='tile'>
        <div class='tile-content'>
            {{movie.director}}
        </div>
    </mat-grid-tile> -->
<!--                 
    <mat-grid-tile [colspan] = "5" [rowspan] = "1" class='tile'>
        <div class='tile-content'>
            {{movie.dateProduction}}
        </div>
    </mat-grid-tile>