<!-- <app-toolbar></app-toolbar>
<app-movies-grid></app-movies-grid> -->

<div id="bd-button">
  <button
    mat-raised-button
    id="importer-films"
    (click)="this.getMovies()"
    class="left-item"
    mat-button
  >
    Importer les films
  </button>
  <button
    mat-raised-button
    id="importer-films"
    (click)="this.navigateNew()"
    class="left-item"
    mat-button
  >
    Créer nouveau film
  </button>
  <button
    mat-raised-button
    id="importer-films"
    (click)="this.reset()"
    class="left-item"
    mat-button
  >
    Réinitialiser la BD
  </button>

  <ul>
    <li *ngFor="let mo of movies; let i = index">
      {{ mo.filmID }} {{ mo.titre }} {{ mo.genre }} {{ mo.dureeTotalMinutes }}
      {{ mo.dateProduction }}
      <button (click)="removeMovie(i)" [attr.data-index]="i">Supprimer</button>
      <button (click)="updateMovie(i)" [attr.data-index]="i">Modifier</button>
    </li>
  </ul>
</div>
